<h1>Welcome to my Favourite Language Finder, powered by GitHub and GraphQL!</h1>
</br>

<h2>Please enter a GitHub username below</h2>
<form action="/result" method="get">
  <label for="username">
    <input type="text" name="username">
  </label>
  <input type="submit" value="Find Favourite Language!" />
</form>