<h1>These are the repos we could find</h1>
<table>
  <tr>
    <th>Repository Name</th>
    <th>Dominant Language</th>
  </tr>
<% @repos.each do |repo| %>
  <tr>
    <td><%= repo.name %></td>
    <td><%= repo.dominant_language %></td>
  </tr>
<% end %>
</table>