<h1>Your favourite language by repo count is: <% @language_by_repos.each do |language| %> <%= language.to_s %> <% end %> </h1>

<h2>These are the repos we could find</h2>
<table>
  <tr>
    <th>Repository Name</th>
    <th>Dominant Language</th>
  </tr>
<% @repos.each do |repo| %>
  <tr>
    <td><%= repo.name %></td>
    <td><%= repo.dominant_language %></td>
  </tr>
<% end %>
</table>